# Read bluetooth address from /data/misc/bluetooth
allow bluetooth_loader bluetooth_data_file:dir search;
r_dir_file(bluetooth_loader, bluetooth_data_file)
