# Wifi connection service
type conn_init, domain, domain_deprecated;
type conn_init_exec, exec_type, file_type;

init_daemon_domain(conn_init)

# Run init.awifi.wifi.sh
allow conn_init shell_exec:file rx_file_perms;
allow conn_init conn_init_exec:file rx_file_perms;

# Allow /data/misc/wifi access
allow conn_init wifi_data_file:dir w_dir_perms;
allow conn_init wifi_data_file:file create_file_perms;

allow conn_init wcnss_device:chr_file rw_file_perms;

# init.awifi.wifi.sh runs toolbox
allow conn_init system_file:file execute_no_trans;
allow conn_init toolbox_exec:file rx_file_perms;
