# Policy for irrc daemon
type irrcServer, domain;
type irrcServer_exec, exec_type, file_type;

# Started by init
init_daemon_domain(irrcServer)

# Allow access to /dev/msm_IRRC_pcm_dec
allow irrcServer irrc_device:chr_file rw_file_perms;

# Call the servicemanager and transfer references to it
allow irrcServer servicemanager:binder { call transfer };

allow servicemanager irrcServer:dir search;
allow servicemanager irrcServer:file { read open };
allow servicemanager irrcServer:process getattr;
