allow mediaserver camera_prop:property_service set;
allow mediaserver init:unix_dgram_socket sendto;

# For text relocations in /system/lib/libmorpho_image_stab31.so
allow mediaserver system_file:file execmod;
