allow mm-qcamerad camera_prop:property_service set;
allow mm-qcamerad init:unix_stream_socket connectto;
allow mm-qcamerad mpctl_socket:dir search;
allow mm-qcamerad mpctl_socket:sock_file write;
allow mm-qcamerad mpdecision:unix_stream_socket connectto;
allow mm-qcamerad property_socket:sock_file write;
allow mm-qcamerad socket_device:sock_file write;
