set_prop(mm-qcamerad, camera_prop)

allow mm-qcamerad mpctl_socket:dir search;
allow mm-qcamerad mpctl_socket:sock_file write;
allow mm-qcamerad mpdecision:unix_stream_socket connectto;

# Connect to sensor socket (/data/app/sensor_ctl_socket)
allow mm-qcamerad sensors_socket:sock_file read;

allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:sock_file rw_file_perms;

# For text relocations in /system/lib/libmmjpeg.so
allow mm-qcamerad system_file:file execmod;
