# Sensors
allow system_server sensors_data_file:dir search;

# Time services
allow system_server time_daemon:unix_stream_socket connectto;

# CMHW
allow system_server kcal_sysfs:file { getattr open read write };
allow system_server knock_sysfs:file { getattr open read write };
